<div class="menusamping">
	<h1>SIA Administrator</h1>
	<a href="homeAdmin.php">Home</a>
	<a href="updateMhs.php">Mahasiswa</a>
	<a href="updateDosen.php">Dosen</a>
	<a href="updateMatkul.php">Mata Kuliah</a>
	<a href="updateTawar.php">Kuliah Tawar</a>
	<a href="logout.php">Logout</a>
</div>
  